.textWrapper {
  display: flex;
  flex-direction: column;

  &_left {
    text-align: left;
  }

  &_right {
    text-align: right;
  }

  &_center {
    text-align: center;
  }

  &_inline {
    flex-direction: row;
    align-items: baseline;

    .text {
      margin-left: 10px;
    }
  }

  &_primary {
    .text,
    .title,
    .subtitle {
      color: var(--text-primary);
    }
  }

  &_secondary {
    .subTitle {
      color: var(--text-secondary);
    }
  }

  &_error {
    .text {
      color: var(--color-red-dark);
    }

    .title {
      color: var(--color-red-light);
    }
  }

  &__title {
    font: var(--font-l);
    font-weight: 700;
  }

  &__text {
    font: var(--font-m);
  }
}
