:root {
  // fonts
  --font-family-main: "Roboto", sans-serif;

  // fonts-sizes
  // ---s
  --font-size-s: 12px;
  --font-line-s: 18px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  // ---m
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  // ---l
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  // ---h1
  --font-size-h1: 82px;
  --font-line-h1: 90px;
  --font-h1: 900 var(--font-size-h1) / var(--font-line-h1) var(--font-family-main);

  // ---tablet
  --font-size-h1-tablet: 52px;
  --font-line-h1-tablet: 60px;
  --font-h1-tablet: 900 var(--font-size-h1-tablet) / var(--font-line-h1-tablet) var(--font-family-main);

  // ---mobile
  --font-size-h1-mobile: 32px;
  --font-line-h1-mobile: 40px;
  --font-h1-mobile: 900 var(--font-size-h1-mobile) / var(--font-line-h1-mobile) var(--font-family-main);

  // width, heigh
  --header-heigh: 60px;
  --min-width: 320px;
  --max-width: 1250px;

  // z-indexes
  --z-index-low: 1;

  // colors
  --bg-color-primary: #272b33;
  --bg-color-secondary: #3c3e44;
  --bg-color-light: #fff;
  --text-primary: #f5f5f5;
  --text-secondary: #9e9e9e;
  --primary-color: #212328;
  --input-focus: #5090d3;
}
