@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import "reset";
@import "variables/global";

.sb-main-padded.app {
  padding: 0;
  margin: 0;
}

body {
  color: var(--text-primary);
  font: var(--font-m);
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color-primary);
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
