@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap";
@import "reset";
@import "variables/global";

.sb-main-padded.app {
  padding: 0;
  margin: 0;
}

*::selection {
  color: var(--text-hovered);
  background-color: var(--bg-color-primary);
}

body {
  color: var(--text-primary);
  font: var(--font-m);
  min-width: var(--min-width);
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color-primary);
}

.container {
  max-width: var(--max-width);
  padding: 0 20px;
  margin: 0 auto;
}

.LazyLoad {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.is-visible {
  opacity: 1;
}
