.characterInfo {
  margin: 0;

  h2 {
    padding: 20px 0;
  }

  &__episodeList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;

    div {
      padding: 2px 5px;
      background-color: var(--bg-color-secondary);
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font: var(--font-h1);

      @media (max-width: 767px) {
        font: var(--font-h1-tablet);
      }

      @media (max-width: 575px) {
        font: var(--font-h1-mobile);
      }
    }
  }

  &__character {
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: stretch;

      &__avatar {
        margin: 0 auto;
      }
    }

    &__avatar {
      width: 300px;
    }

    &__info {
      padding: 10px 20px;
      flex: 1;
      background-color: var(--bg-color-secondary);
      box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;
      border-radius: 5px;

      h2 {
        text-align: center;
      }

      &__location {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;

        h3 {
          text-align: left;
          color: var(--text-secondary);
          padding: 10px 0;
        }

        > div {
          flex: 1;
          min-width: 330px;

          @media (max-width: 395px) {
            min-width: 300px;
          }
        }
      }

      &__status {
        display: flex;
        align-items: baseline;

        &_Alive {
          strong {
            color: var(--color-green);
          }
        }

        &_unknown {
          strong {
            color: var(--text-secondary);
          }
        }

        &_Dead {
          strong {
            color: var(--color-red-light);
          }
        }

        strong {
          margin-left: 10px;
          font: var(--font-l);
        }
      }
    }
  }
}
